altair
attrs
blinker
cachetools
charset-normalizer
click
colorama
colorblind
commonmark
contourpy
cycler
decorator
entrypoints
fonttools
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
kiwisolver
MarkupSafe
matplotlib
numpy
opencv-python-headless
opencv-python
packaging
pandas
Pillow
prettytable
protobuf
pyarrow
pydeck
pyecharts
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
scikit-learn
scipy
semver
simplejson
six
smmap
streamlit
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webcolors
wincertstore
zipp
